html
    //- bower:css
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    //- endbower
    
    //- bower:js
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    //- endbower
    
    //- inject:css
    link(rel="stylesheet", href="/css/styles.css")
    //- endinject
    
    //- inject:js
    script(src="/js/app.js")
    //- endinject
  head
    title MyApp
  body
    form(name="searchFirstName", action="/server/", method="post")
        div(class='input-group container')
            input(type="text", name="firstName", id="firstName", class="form-control", placeholder="type firstname...")
            span(class='input-group-btn')
                button(class="btn btn-secondary", type="submit") Send
    

